*{
    background-color: #536B78;
    color: #ACCBE1;
    font-family: Verdana, sans-serif;
}
body{
    border: 1px solid;
    padding: 20px;
}
input{
    border: 1px solid #ACCBE1;
    
    background-color: #637081;
};