*{
    margin: 0;
    padding: 0;
}

body{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    justify-items: center;
    text-transform: uppercase;
    #wrapper{
        
        font-size: 2em;
        
    
        nav{
            display: flex;
            
            gap: 5em;
            ul{
                
                display: flex;
                align-items: center;
                gap: 1em;
                
                
                li{
                    
                    list-style: none;
                    
                    a{
                        display: flex;
                        text-decoration: none;
                        color: black;
                        img{
                            height: 1.3em;
                        }
                    }
                }
                
                
                
            }
            #icon{
                list-style: none;
                display: flex;
                align-items: center;
                gap: 20px;
                img{
                    height: 1.3em;
                }
                    
            }
            
            
        }
        #menud{
            display: none;
            position: absolute;
            top: 0px;
            right: 50px;
            img{
                width: 50px;
            }
        }

    }

    li:nth-child(4){
        a{

            color:rgb(50, 187, 241)!important;
            
        }
    }
    
    
}

main{
    #fav{
        
        padding-top: 100px;
        padding-left: 150px;

    }
    align-items: center;
    
    section{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        img{
            justify-self: center;
            
        }
        #container{
            display: flex;
            flex-direction: column;
            
           gap: 20px;
            
            h2{
                font-size: 2.5em;
            }
            tag{
                background-color: rgb(175, 243, 175);
                color: rgb(28, 126, 28);
                width: 9.5%;
            }
            #price{
                font-size: 2em;
               
            }
            #choix{
                font-size: 1.5em;
                
                display: flex;
                gap: 2em;
                .choix2{
                    display: flex;
                    flex-direction: column
                    
                    
                }
            }
            #bouton{

                background-color: black;
                color: white;
                border-radius: 10px;
                font-size: 1em;
                width: 52%;
                height: 3em;
            }
            #bouton:hover{
                background-color: rgb(75, 74, 74);
            }
            #paragraphe{

                background-color: rgb(236, 234, 234);
                border: 1px solid gray;
                border-radius: 10px; 
                width: 50%;
                text-align: justify;
                display: grid;
                grid-template-columns: 95% 5%;
                padding: 10px;
                gap: 5px;
                img{
                    width: 20px;
                }
            }

            
            

        }
    }
}


@media (max-width:800px){

    
    header{
        justify-items: center;
        text-transform: uppercase;


        #wrapper{
            
            font-size: 2em;
            
        
            nav{

                display:none;

            }

            /*---Ajouter en dessous #menud le mettre en display:block */

        }

    }

}